html{
    background-color: rgb(206, 206, 116);
}

main h1 {
    color: blueviolet;
}
h2 { 
    color: rgba(0, 255, 0, 0.795);
    text-decoration: underline;
 }
.titulo-aula{
    text-decoration: underline;
}
.texto-azul{
    color: blue;
    background-color: rgb(214, 204, 57);
}
.texto-vermelho{
    color: red;
}
#titulo-primeira-aula{
    text-decoration: none;
}
#titulo-segunda-aula{
    text-decoration:line-through;
}

.texto-vermelho.comentario{
    color: rgb(6, 33, 185);
}
.comentario{
    color: red;
}
.texto-vermelho .comentario{
    color: black;
}
main h3{
    color: rgba(15, 153, 172, 0.568);
}
.ultimo-paragrafo{
    color: #8a6df8;
}

.quinta{
    background-color: rgb(194, 181, 9);
}
#para-fundo{
    background-image: url("./foca.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}